* {
    margin: 0;
    padding: 0;
}

.contain {
    max-width: 85%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
    width: 100%;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-col input {
    width: 80%;
    height: 12%;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 7px 13px;
}

.footer-col textarea {
    width: 80%;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 7px 13px;
}

.footer-col1 {
    width: 22%;
    padding: 0 15px;
}

.footer-col1 h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col1 h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #fff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col1 ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col1 ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col1 ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col1 .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col1 .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-col1 input {
    width: 80%;
    height: 12%;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 7px 13px;
}

.footer-col1 textarea {
    width: 80%;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 7px 13px;
}

.footer-col1 button {
    width: 30%;
    background-color: rgb(0, 174, 255);
    color: #fff;
    font-weight: 300;
    padding: 7px 13px;
}

.footer-col4 {
    width: 25%;
    padding: 0 15px;
    position: relative;
    left: 10%;
}

.footer-col4 h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col4 h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #fff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col4 ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col4 ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col4 ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col4 .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col4 .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-col4 input {
    width: 80%;
    height: 12%;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 7px 13px;
}

.footer-col4 textarea {
    width: 80%;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 7px 13px;
}

.footer-col4 button {
    width: 45%;
    background-color: rgb(0, 174, 255);
    color: #fff;
    font-weight: 300;
    padding: 7px 13px;
}


/*responsive*/

@media(max-width: 767px) {
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .footer {
        width: 100%;
    }
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-col4 button {
        width: 45%;
    }
}

@media(max-width: 769px) {
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .footer-col4 {
        left: 0;
    }
}

@media(max-width: 574px) {
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .footer-col {
        width: 100%;
    }
    .footer-col4 {
        width: 81%;
        position: unset;
    }
}