* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: #fff;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.image {
  height: 99vh;
  width: 100%;
  background: #0000008c url(images/1.jpg);
  background-size: cover;
  background-blend-mode: darken; }
  @media screen and (max-width: 426px) {
    .image {
      height: 50vh;
      width: 100%;
      background-size: cover;
      background-blend-mode: darken; } }

.contain1 h1 {
  position: absolute;
  top: 40%;
  left: 6%;
  color: #FFF;
  transition: 1s; }
  @media screen and (max-width: 426px) {
    .contain1 h1 {
      top: 23%;
      font-size: 25px;
      width: 100%;
      text-align: center;
      left: unset; } }
  @media screen and (min-width: 427px) and (max-width: 769px) {
    .contain1 h1 {
      position: relative;
      bottom: 585px;
      text-align: center;
      left: 0; } }

.contain2 {
  background-color: #FFF;
  min-height: 85%;
  width: 28%;
  flex-wrap: wrap;
  display: inline-flex;
  position: absolute;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 10px;
  top: 11%;
  right: 7%;
  transition: 0.4s; }
  @media screen and (max-width: 426px) {
    .contain2 {
      width: 80%;
      right: 10%;
      top: 33%; } }
  @media screen and (min-width: 427px) and (max-width: 769px) {
    .contain2 {
      position: relative;
      width: 56%;
      left: 23%;
      top: -70%; } }
  .contain2 h2 {
    flex-wrap: wrap;
    margin-left: 3px;
    font-size: 45px; }
    @media screen and (max-width: 426px) {
      .contain2 h2 {
        font-size: 28px;
        margin-top: 10px; } }
  .contain2 h3 {
    font-size: 30px;
    margin-top: -70px; }
  .contain2 .logo {
    display: inline-flex;
    justify-content: center;
    left: 0;
    width: 100%;
    font-size: 45px;
    position: absolute;
    top: 6%; }
    @media screen and (max-width: 426px) {
      .contain2 .logo {
        margin-top: 14px;
        position: unset;
        font-size: 18px;
        height: 50px; } }
  .contain2 text {
    width: 100%;
    height: 23px;
    font-size: 0.78rem;
    margin-bottom: 60px; }
  .contain2 text1 {
    position: absolute;
    top: 90%;
    font-size: 0.78rem;
    width: 100%;
    text-align: center; }

.contain3 {
  background-color: #FFF;
  min-height: 85%;
  width: 35%;
  flex-wrap: wrap;
  display: inline-flex;
  position: absolute;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 10px;
  top: 11%;
  left: 7%;
  transition: 0.4s; }
  .contain3 h2 {
    flex-wrap: wrap;
    margin-left: 3px;
    font-size: 45px; }
  .contain3 .logo {
    display: inline-flex;
    justify-content: center;
    left: 0;
    width: 100%;
    font-size: 45px; }

.whole {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.more {
  margin-top: 50% !important; }
  @media screen and (max-width: 426px) {
    .more {
      margin-top: -30% !important; } }

.form {
  display: block;
  margin-top: 40%; }
  .form input {
    margin-top: 10px;
    padding: 0.75rem 1.375rem;
    font-size: 0.75rem;
    color: #495057;
    border: 2px solid #d9dfe7;
    width: 60%;
    height: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    line-height: 0.83;
    border-radius: 8px;
    outline: none;
    margin-left: 5px; }
    @media screen and (max-width: 426px) {
      .form input {
        width: 85%; } }
  .form select {
    margin-top: 10px;
    padding: 0.75rem 1.375rem;
    font-size: 0.75rem;
    color: #495057;
    border: 2px solid #d9dfe7;
    width: 60%;
    height: 10%;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    line-height: 0.83;
    border-radius: 8px;
    outline: none;
    margin-left: 5px; }
    @media screen and (max-width: 426px) {
      .form select {
        width: 85%; } }
  .form input[type="checkbox"] {
    width: auto;
    height: auto;
    position: absolute;
    left: 19%;
    bottom: 46.4%; }
    @media screen and (max-width: 426px) {
      .form input[type="checkbox"] {
        left: 14%;
        bottom: 39.5%;
        width: unset; } }
  .form #policy {
    width: auto;
    height: auto;
    position: absolute;
    left: 18%;
    bottom: 38.5%; }
    @media screen and (max-width: 426px) {
      .form #policy {
        left: 9%;
        bottom: 27.5%;
        width: unset; } }
  .form textarea#txt {
    margin-top: 5px;
    border-radius: 8px;
    border: 2px solid #d9dfe7;
    padding: 0.75rem 1.375rem;
    font-size: 0.75rem;
    outline: none;
    margin-left: 5px;
    width: 60%; }
    @media screen and (max-width: 426px) {
      .form textarea#txt {
        width: 85%; } }
  .form textarea#txt1 {
    outline: none;
    margin-top: 5px;
    border-radius: 8px;
    border: 2px solid #d9dfe7;
    padding: 0.75rem 1.375rem;
    font-size: 0.75rem;
    outline: none;
    margin-left: 5px;
    width: 60%; }
    @media screen and (max-width: 426px) {
      .form textarea#txt1 {
        width: 85%; } }
  .form input#file {
    height: 40px;
    padding: 0.75rem 1.375rem; }
  .form #image {
    height: auto; }
  .form .btn {
    padding: 12px 18px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-inline: auto;
    width: 60%;
    font-size: 0.75rem;
    border-radius: 8px;
    border: 2px solid transparent;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.678);
    align-items: center;
    transition: 0.4s;
    margin-left: 6px; }
    .form .btn:hover {
      background-color: #000; }
    @media screen and (max-width: 426px) {
      .form .btn {
        width: 76%; } }
  .form .btn1 {
    padding: 12px 18px;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-inline: auto;
    width: 30%;
    font-size: 0.75rem;
    border-radius: 8px;
    border: 2px solid transparent;
    color: #FFF;
    background-color: #000000ad;
    /* align-items: center; */
    transition: 0.4s;
    margin-left: 34%;
    cursor: pointer; }
    .form .btn1:hover {
      background-color: #000; }
  .form .remember {
    position: absolute;
    top: 64%;
    left: 16%; }
  .form p {
    position: absolute;
    top: 52%;
    left: 23%;
    font-size: 0.75rem; }
    @media screen and (max-width: 426px) {
      .form p {
        top: 58%; } }
  .form text {
    position: absolute;
    top: 80%;
    font-size: 0.78rem;
    left: 30%; }
  .form text1 {
    position: absolute;
    top: 80%;
    font-size: 0.78rem;
    left: 30%; }
  .form span {
    color: #1100ff; }
  .form span a {
    text-decoration: none; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v97/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  bottom: -3px;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr; }

.footer {
  position: unset; }
  @media screen and (max-width: 426px) {
    .footer {
      position: absolute;
      top: 101%; } }
  @media screen and (min-width: 427px) and (max-width: 769px) {
    .footer {
      position: relative;
      bottom: 76%; } }
