.navbar {
  position: fixed;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
  background-color: #000;
  z-index: 4;
  text-align: center;
  top: 0; }
  @media screen and (max-width: 426px) {
    .navbar {
      padding-bottom: 50px;
      width: 100%; } }
  .navbar .sticky {
    background: #000;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1); }
  .navbar .content {
    display: flex;
    justify-content: center; }
  .navbar .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    position: absolute;
    left: 5.5%;
    top: 7%;
    bottom: 32px;
    text-align: left;
    display: block; }
    @media screen and (max-width: 426px) {
      .navbar .logo {
        position: absolute;
        top: 10%; } }
    @media screen and (min-width: 427px) and (max-width: 769px) {
      .navbar .logo {
        left: 3%; } }
  .navbar .collapse {
    display: flex; }
    @media screen and (max-width: 426px) {
      .navbar .collapse {
        display: block;
        margin-top: 40%; } }
  .navbar ul ul {
    display: none;
    align-items: center;
    position: absolute;
    top: 57%;
    left: 69%; }
    @media screen and (max-width: 426px) {
      .navbar ul ul {
        top: 24%;
        left: unset;
        z-index: -2; } }
    .navbar ul ul li {
      display: inline-flex;
      background-color: #000;
      padding: 7px 13px;
      width: 100%; }
      @media screen and (max-width: 426px) {
        .navbar ul ul li {
          padding: 0;
          margin-top: 25px; } }
      .navbar ul ul li a {
        font-size: 17px; }
  .navbar ul li {
    transition: 0.3s; }
    .navbar ul li:hover > ul {
      display: block;
      transform: translateY(-5px); }

@media screen and (max-width: 426px) and (max-width: 426px) {
  .navbar.show .menu-list {
    left: 0%; } }

@media screen and (max-width: 426px) and (max-width: 426px) {
  .navbar.show .menu-list li {
    margin-top: 21%; }
    .navbar.show .menu-list li ul li {
      margin-top: 28px; } }

@media screen and (max-width: 426px) and (max-width: 426px) {
  .navbar.show .menu-list a {
    margin-left: 0px; } }
  .navbar .menu-list {
    display: inline-flex; }
    @media screen and (max-width: 426px) {
      .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        margin-bottom: 15px;
        text-align: center;
        background: black;
        transition: all 0.3s ease; } }
    .navbar .menu-list li {
      list-style: none; }
      .navbar .menu-list li a {
        color: #fff;
        padding: 7px 13px;
        font-size: 18px;
        font-weight: 500;
        margin-left: 25px;
        text-decoration: none;
        border-radius: 10px;
        transition: all 0.3s ease; }
        @media screen and (max-width: 426px) {
          .navbar .menu-list li a {
            font-size: 16px;
            transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); } }
        @media screen and (min-width: 427px) and (max-width: 769px) {
          .navbar .menu-list li a {
            font-size: 12px; } }
  .navbar .checkbox {
    opacity: 0;
    position: absolute; }
  .navbar .label {
    background-color: var(--ternary);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    bottom: 20px;
    height: 19px;
    width: 49px;
    transform: scale(1.5);
    float: right;
    margin-right: 27px; }
    .navbar .label .ball {
      background-color: #000;
      border-radius: 50%;
      position: absolute;
      left: 2px;
      height: 19px;
      width: 20px;
      transform: translateX(0px);
      transition: transform 0.2s linear; }
  .navbar .checkbox:checked + .label .ball {
    transform: translateX(33px); }
  .navbar .fa-moon {
    color: #f1c40f; }
  .navbar .fa-sun {
    color: #f39c12; }
  .navbar .right {
    padding: 7px 13px;
    color: #000;
    position: absolute;
    right: 10%;
    top: 15px;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.4s;
    display: flex; }
    .navbar .right #name {
      color: #f0f0f0;
      border-radius: 10px;
      padding: 7px 13px;
      position: absolute;
      right: 9%;
      top: 4%; }
      @media screen and (max-width: 426px) {
        .navbar .right #name {
          right: unset; } }
  .navbar .extra {
    left: 66% !important;
    top: -15px; }
    @media screen and (max-width: 426px) {
      .navbar .extra {
        left: 0% !important;
        top: -25px; } }
  .navbar .icon.cancel-btn {
    top: 3%;
    right: 2%;
    z-index: 5; }
  .navbar .icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
    float: right; }
    @media screen and (max-width: 426px) {
      .navbar .icon {
        display: block;
        float: right;
        margin-right: 5px;
        position: absolute;
        left: 80%;
        z-index: -1; } }
    @media screen and (max-width: 426px) {
      .navbar .icon .hide {
        display: none; } }

img#\ clipped {
  clip-path: circle(36.5% at 50% 50%);
  width: 7%;
  position: relative;
  bottom: 19px; }
  @media screen and (max-width: 426px) {
    img#\ clipped {
      width: 12%;
      bottom: unset; } }
