.navbar {
  position: fixed;
  width: 100%;
  padding: 25px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #000;
  z-index: 4;
  text-align: center;
  top: 0;
}

@media screen and (max-width: 426px) {
  .navbar {
    padding-bottom: 50px;
    width: 100%;
  }
}

.navbar .sticky {
  background: #000;
  padding: 10px 0;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .logo {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  position: absolute;
  left: 1.5%;
  top: 7%;
  bottom: 32px;
  text-align: left;
  display: block;
}

@media screen and (max-width: 426px) {
  .navbar .logo {
    position: absolute;
    top: 10%;
  }
}

@media screen and (min-width: 427px) and (max-width: 769px) {
  .navbar .logo {
    left: 3%;
  }
}

.navbar ul ul {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 120%;
  left: -5%;
}

@media screen and (max-width: 426px) {
  .navbar ul ul {
    top: 24%;
    left: 71%;
    z-index: -2;
  }
}

.navbar ul ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #000;
  padding: 7px 13px;
  width: 114%;
}

@media screen and (max-width: 426px) {
  .navbar ul ul li {
    padding: 0;
    margin-top: 25px;
  }
}

.navbar ul ul li a {
  font-size: 17px;
}

.navbar ul li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar ul li:hover > ul {
  display: block;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media screen and (max-width: 426px) and (max-width: 426px) {
  .navbar.show .menu-list {
    left: 0%;
  }
}

@media screen and (max-width: 426px) and (max-width: 426px) {
  .navbar.show .menu-list li {
    margin-top: 37px;
  }
  .navbar.show .menu-list li ul li {
    margin-top: 28px;
  }
}

@media screen and (max-width: 426px) and (max-width: 426px) {
  .navbar.show .menu-list a {
    margin-left: 0px;
  }
}

.navbar .menu-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (max-width: 426px) {
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    margin-bottom: 15px;
    text-align: center;
    background: black;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-left: -84px;
  }
}

.navbar .menu-list li {
  list-style: none;
}

.navbar .menu-list li a {
  color: #fff;
  padding: 7px 13px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 426px) {
  .navbar .menu-list li a {
    font-size: 16px;
    -webkit-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

@media screen and (min-width: 427px) and (max-width: 769px) {
  .navbar .menu-list li a {
    font-size: 12px;
  }
}

.navbar .checkbox {
  opacity: 0;
  position: absolute;
}

.navbar .label {
  background-color: var(--ternary);
  border-radius: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  position: relative;
  bottom: 20px;
  height: 19px;
  width: 49px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  float: right;
  margin-right: 27px;
}

.navbar .label .ball {
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  height: 19px;
  width: 20px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.navbar .checkbox:checked + .label .ball {
  -webkit-transform: translateX(33px);
          transform: translateX(33px);
}

.navbar .fa-moon {
  color: #f1c40f;
}

.navbar .fa-sun {
  color: #f39c12;
}

.navbar .right {
  padding: 7px 13px;
  color: #000;
  position: absolute;
  right: 1%;
  top: 15px;
  border-radius: 10px;
  font-size: 18px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 426px) {
  .navbar .right {
    top: 44%;
    right: 36%;
  }
}

@media screen and (min-width: 427px) and (max-width: 769px) {
  .navbar .right {
    right: 7%;
    top: 18px;
  }
}

.navbar .right #name {
  color: #fff;
  border-radius: 10px;
  padding: 7px 13px;
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
  float: right;
}

@media screen and (max-width: 426px) {
  .icon {
    display: block;
    float: right;
    margin-right: 5px;
    position: absolute;
    left: 80%;
  }
}

@media screen and (max-width: 426px) {
  .icon .hide {
    display: none;
  }
}
/*# sourceMappingURL=nav.css.map */