* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(161, 245, 140);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    position:absolute;
    top: 5px;
}
nav .logo{
    transition: 0.3s;
}
nav .logo:hover{
    transform: translateY(-5px);
}
nav ul{
   flex: 1;
   text-align: right;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    border: 5px ;
    padding: 7px 13px;
    background-color: #ffffffe5;
    border-radius: 10px;
    transition: 0.4s;
    
}

nav ul li:hover{
    transform : translateY(-5px);
}
nav ul li a{
    text-decoration: none;
    color: rgba(255, 68, 68, 0.945);
   
}
.container {
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
}

.container .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}





.container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}
.container .login-email .input-group textarea{
    border: 2px solid #e7e7e7;
    border-radius: 30px;
    padding: 5px 10px;
    outline: none;
}

.container .login-email .input-group input:focus, .container .login-email .input-group input:valid {
    border-color: #a29bfe;
}

.container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
}

.login-register-text {
    color: #111;
    font-weight: 600;
}

.login-register-text a {
    text-decoration: none;
    color: #6c5ce7;
}

/*  create post button*/

@media (max-width: 430px) {
    .container {
        width: 300px;
    }
    .container .login-social {
        display: block;
    }
    .container .login-social a {
        display: block;
    }
}